@media (min-width:992px) {
  * {
    box-sizing: border-box;
  }
  h1{
    text-align: center;
    font-size: 1.75em;
  }
  section{
    background-color:grey;
    width:30%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  .title1{
    background-color: pink;
    float: right;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    padding-left: 20px;
    padding-right: 20px;
  }
  .title2{
    background-color: red;
    color: white;
    float: right;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    padding-left: 20px;
    padding-right: 20px;
  }
  .title3{
    background-color: yellow;
    float: right;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-size: 1em;
    font-weight: bold;
  }

}
@media (min-width: 768px) and (max-width: 991px) {
  * {
    box-sizing: border-box;
  }
  h1{
    text-align: center;
    font-size: 1.75em;
  }

  #section1,#section2{
    background-color:grey;
    width:40%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  #section3{
    background-color:grey;
    border-style: solid;
      width:82.5%;
    border-width: 2px;
    border-color: black;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
  }
  .title1{
    background-color: pink;
    float: right;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    padding-left: 20px;
    padding-right: 20px;
  }
  .title2{
    background-color: red;
    color: white;
    float: right;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    padding-left: 20px;
    padding-right: 20px;
  }
  .title3{
    background-color: yellow;
    float: right;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-size: 1em;
    font-weight: bold;
  }
}
@media (max-width: 767px) {
  * {
    box-sizing: border-box;
  }
  h1{
    text-align: center;
    font-size: 1.75em;
  }
  section{
    background-color:grey;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
  .title1{
    background-color: pink;
    float: right;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    padding-left: 20px;
    padding-right: 20px;
  }
  .title2{
    background-color: red;
    color: white;
    float: right;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    padding-left: 20px;
    padding-right: 20px;
  }
  .title3{
    background-color: yellow;
    float: right;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-size: 1em;
    font-weight: bold;
  }
}
