@media (min-width:992px) {

}
@media (min-width: 768px) and (max-width: 992px) {

}
@media (max-width: 768px) {

}
* {
  box-sizing: border-box;
}
h1{
  text-align: center;
}
section{
  background-color:grey;
  width:30%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.title1{
  background-color: pink;
  width:30%;
  float: right;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  text-align: center;
  font-weight: bold;
}
.title2{
  background-color: red;
  color: white;
  width:30%;
  float: right;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  text-align: center;
  font-weight: bold;
}
.title3{
  background-color: yellow;
  width:30%;
  float: right;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  text-align: center;
  font-weight: bold;
}
.content{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-transform: lowercase;

}
